# Phoneme Data Analysis

This notebook will analyze and preprocess the phoneme data. The dataset was used in the European ESPRIT 5516 project (ROARS), in which the objective is to  develove and inmplementing a real time analytical system of speech recognition for the French and Spanish languages.

As said by the words of [Phoneme Data Description](https://raw.githubusercontent.com/jbrownlee/Datasets/master/phoneme.names):
    
    The aim of the present database is to distinguish between nasal and
    oral vowels. There are thus two different classes:

        Class 0 : Nasals
        Class 1 : Orals

    This database contains vowels coming from 1809 isolated syllables (for
    example: pa, ta, pan,...).  Five different attributes were chosen to
    characterize each vowel: they are the amplitudes of the five first
    harmonics AHi, normalised by the total energy Ene (integrated on all 
    the frequencies): AHi/Ene. Each harmonic is signed: positive when it
    corresponds to a local maximum of the spectrum and negative otherwise.

## Dependencies

In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import seaborn as sns

In [3]:
phoneme = pd.read_csv("phoneme.csv")
phoneme.head(10)

    1.24  0.875  -0.205  -0.078  0.067  0
0  0.268  1.352   1.035  -0.332  0.217  0
1  1.567  0.867   1.300   1.041  0.559  0
2  0.279  0.990   2.555  -0.738  0.000  0
3  0.307  1.272   2.656  -0.946 -0.467  0
4  0.960  0.712  -0.143   0.091 -0.061  0
5  2.941  0.657   1.493  -0.331 -0.123  0
6  0.401  1.159   2.064  -0.690 -0.308  0
7  0.229  1.748   0.634   0.259  0.000  0
8  0.303  0.609   0.474   1.427 -0.811  1
9  0.318  0.811   0.818   0.821  0.860  1

The dataset has no feature names, neither the class column, so we will give their names based upon the [Phoneme Data Description](https://raw.githubusercontent.com/jbrownlee/Datasets/master/phoneme.names)

In [39]:
new_header = phoneme.columns.values
new_header.shape
new = new_header.astype(float)[None,:]
new

array([[ 1.24 ,  0.875, -0.205, -0.078,  0.067,  0.   ]])

In [43]:
ph = pd.DataFrame(new_header.astype(float)[None,:],columns=list(new_header))
ph[0] = ph[0].astype(int)


#ph = pd.concat([pd.DataFrame(new_header.astype(float).T),phoneme],axis=1)
#cols = {new_header[i]:'H{}'.format(i+1) for i in range(new_header.size-1)}
#cols['0']='target'
#ph=ph.rename(columns=cols)
#ph = ph.drop([0],axis=1)
ph

   1.24  0.875  -0.205  -0.078  0.067    0
0  1.24  0.875  -0.205  -0.078  0.067  0.0